In [1]:
myInt = c(1,2,3)
myChar = c('a', 'b', 'c')
df = data.frame(myInt, myChar)
df

  myInt myChar
1     1      a
2     2      b
3     3      c

In [3]:
a = myInt > 2
a

[1] FALSE FALSE  TRUE

In [5]:
myInt[a]

[1] 3

In [14]:
m = matrix(1:24, byrow=TRUE, nrow=4, ncol=6)
m

     [,1] [,2] [,3] [,4] [,5] [,6]
[1,]    1    2    3    4    5    6
[2,]    7    8    9   10   11   12
[3,]   13   14   15   16   17   18
[4,]   19   20   21   22   23   24